body{
    margin: 5; 
}

.carre{
    height: 6vh;
    width: 3vw; 
    padding: 6vh;
    background-color: lawngreen;
    background-size: cover;
    border: 2px;
    margin: 0.5;
}

.carre2{
    height: 6vh;
    width: 3vw; 
    padding: 6vh;
    background-size: cover; 
    border: 2px double black;
    margin: 0.5vh;
    background-color: rgb(155, 240, 255);
    float:left;
    border-radius: 25px;
}

.clear{
    clear: both;
}
